@use '../abstracts/variables' as *;

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

aside {
  background: $bg-samping;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}