@use '../abstracts/variables' as *;

h2 {
  color: $warna-navy;
  border-bottom: 3px solid $warna-merah;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

h3 {
  color: $warna-navy;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}